<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>Invite Your Friends by entering their email addresses below. To add more, press the add button and when you have all the addresses enterd, press Send.</p>
<p>Your friends will recieve an email asking them to join the site. If they do, then they will show up on this page.</p>
  
  <div class="field">

  </div>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
